@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.logo {
  height: 80px;
  width: 128px;
}
.nav-list > li {
  list-style-type: none;
}
.gradient-btn {
  width: 140px;
  height: 45px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 50px;
  line-height: 22.4px;
  color: #ffff;
  gap: 10px;
  background: linear-gradient(
    180deg,
    rgba(14, 80, 149, 0.8) 0%,
    rgba(23, 134, 249, 0.8) 96%
  );
}
.active-n {
  display: flex;
  align-items: center;
  justify-items: center;
  width: 20px;
  height: 8px;
  background: linear-gradient(
    180deg,
    rgba(14, 80, 149, 0.8) 0%,
    rgba(0, 191, 188, 0.64) 96%
  );
}
.g-text {
  background-image: linear-gradient(
    180deg,
    rgba(14, 80, 149, 0.8) 0%,
    rgba(23, 134, 249, 0.8) 96%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.wr-1 div {
  .text-w {
    width: 500px;
    line-height: 48.2px;
  }
  p {
    width: 700px;
  }
}
.hero-img-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .hero-bg{
    background-image : linear-gradient(), url(.../mobile-screen1.png);
    background-size: cover;
    background: linear-gradient(
    180deg,
    rgba(14, 79, 149, 0.068) 0%,
    rgba(23, 132, 249, 0.048) 96%
  );
} */
.wr-2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:16px;
    max-width: 80%;
    color: #000000;
}
.wr-2 .left-c p{
    line-height: 27.4px;
}
.right-c{
    position: relative;
    border-radius: 50%;
    background: linear-gradient(180deg, rgba(17, 101, 187, 0.5) 0%, rgba(0, 101, 100, 0.6) 100%);
}
.wrap-2-img{
    position: absolute;
    max-width: 556;
    height:426px;
}
.card-c .card-cc{
    display: flex;
    flex-direction: column;
    position: relative;
    gap:6px;
    height: 100px;
    padding: 12px 27px;
    border-radius: 60px;
    background-color: #fff;
    box-shadow: 0px 0px 8px 0px #00000029;
}
.card-cc .heading{
    text-align: center;
    width:120px;
    font-size: 12px;
    line-height: 16.8px;
    font-weight: 600;
}
.people-imgs img{
    width:30px;
    height:30px;
    border: 1px solid #fff;
    border-radius: 50px;
    box-shadow: 0px 4px 4px 0px #00000040;
}
.first-circle{
    background: linear-gradient(270deg, #00CBC9 0%, rgba(0, 101, 100, 0.8) 100%);
    border-radius: 50%;
    width: 58px;
    height: 58px;
}

@media screen and (max-width: 768px) {
  nav {
    height: 60px;
  }
  .nav-list > li {
    padding: 0;
    font-size: 14px;
    &:not(:first-child) {
      margin-left: 14px !important;
    }
  }
  .gradient-btn {
    width: 130px;
    height: 40px;
    font-size: 14px;
    margin-left: 10px;
  }
}
