* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Teachers", sans-serif;
  background-color: rgba(250, 252, 255, 0.8);
}
a:hover {
  color: #0a3c70;
  font-weight: bold;
  transition: 1s ease-out;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
h1,
h2,
h3,
h4 {
  font-family: "Reddit Sans Condensed", sans-serif;
}
